@import 'vuestic-ui/dist/styles/index.css';

.va-input,
.va-select {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.va-dropdown__content {
  z-index: +1;
}

.va-navbar {
  display: flex;
  max-height: 3.5rem;
}

.va-sidebar__menu {
  padding: 0;
}
